{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sign in</title>
    <meta name="viewport" content="width = device-width" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Permanent+Marker"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sign">
      <form class="" action="signin.php" method="post">
        <h1>Sign In</h1>
        <input
          type="text"
          placeholder="Username"
          name="username"
          class="txtb"
        />
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="txtb"
        />
        <input type="submit" value="Sign in" class="sign-btn" />
        <a href="#">Already Have one ?</a>
      </form>
    </div>
  </body>
</html>
